body {
    background-color: #222222;
    color: #cccccc;
}

#ytapiplayer {
    background-color: #000000;
}

#userlist, #messagebuffer {
    background-color: #ffffff;
    color: #000000;
}

.drink {
    border-color: #0000cc;
}

.queue_entry {
    background-color: #000000;
    border-color: #aaaaaa;
}

.queue_entry > a {
    color: #cccccc;
}

.queue_active {
    background-color: #666666;
}

.profile-box {
    background-color: #111111;
}

.user-dropdown {
    background-color: #111111;
}

.dropdown-menu, .dropdown-menu > li > a {
    color: #cccccc;
    background-color: #222222;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus {
    color: #cccccc;
    background-color: #444444;
}

.form-control {
    background-color: #000000;
    color: #cccccc;
}

.btn, .btn:hover, .btn:active, .btn.active {
    color: #cccccc;
}

.btn-default {
    background-color: #000000;
    border-color: #555555;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    background-color: #222222;
    border-color: #555555;
}

.btn-success {
    background-color: #006600;
    border-color: #009900;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    background-color: #008800;
    border-color: #009900;
}

.btn-danger {
    background-color: #660000;
    border-color: #990000;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
    background-color: #880000;
    border-color: #990000;
}

.btn-primary {
    border-color: #0000cc;
    background-color: #000066;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    border-color: #0000cc;
    background-color: #000088;
}

.btn-info {
    border-color: #0000cc;
    background-color: #000066;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    border-color: #0000cc;
    background-color: #000088;
}

.well {
    background-color: #222222;
    border: 1px solid #555555;
}

footer {
    background-color: #222222!important;
}

.modal-content {
    background-color: #222222;
}

.modal-footer {
    border-top-color: #aaaaaa;
}

.nav .open > li > a {
    color: #cccccc;
    background-color: #222222;
}

.nav > li > a {
    color: #cccccc;
    border-color: #aaaaaa;
}

.nav > li:hover > a {
    background-color: #444444;
    color: #cccccc;
}

.nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus {
    background-color: #222222;
    color: #cccccc;
}
