body {
    background-color: #000;
    color: #ccc;
}

.well {
    background-color: #222!important;
    border: 1px solid #555;
}

#usercountwrap, #userlist, #messagebuffer, #videowrap {
    background-color: #111;
}

#usercountwrap, #currenttitle {
    border: 1px solid #555;
    border-bottom: none;
    margin: 0;
}

#userlist, #messagebuffer {
    border-color: #555;
}

input, textarea {
    border-color: #555!important;
    background: #222!important;
}

textarea, input {
    color: #ccc!important;
}

button, .btn, .dropdown-menu, select, option {
    background: #111!important;
    border-color: #555!important;
    color: #aaa!important;
    text-shadow: none!important;
    box-shadow: none!important;
}

.dropdown-menu > li > a {
    color: #ccc!important;
}

.btn:hover {
    background-color: #333!important;
}

.btn-success {
    background: #009900!important;
    border: 1px solid #006600!important;
}

.btn-success:hover {
    background: #00bb00!important;
}

.btn-danger {
    background: #990000!important;
    border: 1px solid #660000!important;
}

.btn-danger:hover {
    background: #bb0000!important;
}

.btn-primary {
    background: #000099!important;
    border: 1px solid #000066!important;
}

.btn-primary:hover {
    background: #0000bb!important;
}

input, textarea, button, .well, .btn, .dropdown-menu, select {
    border-radius: 0!important;
}

.videolist {
    background-color: #000;
}

.queue_entry {
    background-color: #000!important;
    border: 1px solid #ccc;
    color: #ccc;
}

.queue_entry > a {
    color: #ccc;
}

.queue_active {
    background-color: #555!important;
}

#plmeta {
    border-color: #555;
    background-color: #222;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}

.profile-box, .user-dropdown {
    color: #ccc!important;
    background-color: #222;
    border: 1px solid #ccc!important;
    border-radius: 0;
}

.close {
    background: none!important;
}

.alert {
    border-radius: 0;
    text-shadow: none!important;
}

hr {
    border: 1px solid #111!important;
}
.alert-error {
    background-color: #550000;
    border: 1px solid #880000;
    color: #ff9999;
}

.alert-info {
    background-color: #000055;
    border: 1px solid #000088;
    color: #9999ff;
}

.alert-warning {
    background-color: #555500;
    border: 1px solid #888800;
    color: #ffff99;
}

.table-striped tbody > tr:nth-child(odd) > td {
    background-color: #111!important;
}

.table-striped tbody > tr:nth-child(even) > td {
    background-color: #000!important;
}

.table td, .table tr, .table th {
    border-color: #ccc!important;
}

.table-bordered, .table-bordered tr, .table-bordered td,
.table-bordered th {
    border-radius: 0!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.pagination ul > li:first-child > a,
.pagination ul > li:last-child > a {
    border-radius: 0!important;
}

.pagination ul > li > a, .pagination > ul > li > span {
    background-color: #222!important;
}

pre {
    border: 1px solid #ccc!important;
    background-color: #222!important;
    color: #ccc!important;
    border-radius: 0!important;
}

.userlist_owner {
    color: #ff9900;
}

.nick-hover {
    background-color: #444;
}

.nick-highlight {
    background-color: #555;
}

.drink {
    border-color: #ff9900;
}

.modal {
    background-color: #222!important;
}

.modal-header, .modal-footer {
    background-color: #222!important;
}

.caret {
    border-top: 4px solid #ccc!important;
}

.dropup .caret {
    border-top: none!important;
    border-bottom: 4px solid #ccc!important;
}

#footer {
    background-color: #222;
    color: #ccc;
}

.poll-notify {
    color: #ff6600;
}
