body, #videowrap {
    background-color: #2f2f2f;
}

.queue_entry {
    background-color: #111111;
}

.queue_active {
    border-color: #ff9900;
    background-color: #332200;
}

#currenttitle {
    color: #cccccc;
}

.qe_time {
    color: #cccccc;
}

#plmeta {
    color: #cccccc;
    background-color: #2f2f2f;
    background-color: rgba(0, 0, 0, 0.3);
}
