.videolist {
    list-style: none outside none;
    margin-left: 0;
    max-height: 500px;
    overflow-y: scroll;
}

.videolist li {
    margin: 2px 0 0 auto;
    padding: 2px;
    font-size: 8pt;
    border: 1px solid #aaaaaa; // [](/w21)
}

.qe_btn {
    height: 20px;
    font-family: Monospace;
    padding: 0 5px;
    margin: auto;
    overflow: hidden;
}

.qe_buttons {
    float: left;
}

.qe_title {
    float: left;
}

.qe_time {
    float: right;
}

.qe_clear {
    clear: both;
}

#library {
    width: 640px;
}

#userlist {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 347px;
    float: left;
    width: 150px;
    border: 1px solid #aaaaaa; // [](/z13)
}

#messagebuffer {
    overflow-y: scroll;
    height: 347px;
    border: 1px solid #aaaaaa; // AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa
    border-left: 0;
}

#messagebuffer div, #messagebuffer code {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#chatline {
    /*width: 456px;*/
    width: 100%;
}

.userlist_siteadmin {
    color: #cc0000;
    font-weight: bold;
}

.userlist_owner {
    color: #0000cc;
    font-weight: bold;
}

.userlist_op {
    color: #00aa00;
}

.action {
    font-style: italic;
    color: #888888;
}

.spoiler {
    color: #000000;
    background-color: #000000;
}

.spoiler:hover {
    color: #ffffff;
}

.greentext {
    color: #789922; /* Color value directly from 4chan */
}

.shout {
    color: #ff0000;
    font-weight: bold;
    font-size: 18pt;
}

.mono {
    font-family: Monospace;
}

.poll-notify {
    color: #0000aa;
    font-weight: bold;
    font-size: 14pt;
}

.option button {
    margin-right: 15px;
}

.nick-highlight {
    background-color: #ddffdd;
}
