html, body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -90px;
}

#footer, .push {
    margin: 90px 0 0 0;
    height: 30px;
    clear: both;
}

#welcome {
    font-size: 10pt;
    color: #ffffff;
}

#usercountwrap, #userlist, #messagebuffer, #videowrap {
    background-color: #ffffff;
}

#librarywrap, #userplaylistwrap, #playlist_controls {
    display: none;
}

.videolist {
    list-style: none outside none;
    margin-left: 0;
    max-height: 500px;
    overflow-y: scroll;
}

.qe_btn {
    height: 20px;
    font-family: Monospace;
    padding: 0 5px 0 5px;
    margin: auto;
    overflow: hidden;
}

.qe_buttons {
    float: left;
}

.qe_title {
    float: left;
}

.qe_time {
    font-family: Monospace;
    float: right;
}

.qe_clear {
    clear: both;
}

#userpl_list {
    list-style: none outside none;
    margin-left: 0;
    max-height: 500px;
    overflow-y: scroll;
}

#userpl_list li {
    clear: both;
    margin: 2px 0 0 auto;
    padding: 2px;
    font-size: 8pt;
}

#usercountwrap, #currenttitle {
    border: 1px solid #aaaaaa;
    border-bottom: none;
    margin: 0;
}

#usercount {
    margin: 0;
}

.pointer {
  cursor: pointer;
}

#leftpane-inner div.span12, #rightpane-inner div.span12,
#leftpane-inner ul, #rightpane-inner ul,
#channelsettingswrap div.span12 {
    margin-left: 0;
}

#queue {
    margin-bottom: 0;
}

.queue_sortable li {
    cursor: row-resize;
}

.queue_entry {
    background-color: #ffffff;
    margin: 2px 0 0 auto;
    padding: 2px;
    font-size: 8pt;
    border: 1px solid #aaaaaa; // [](/w21)
}

.queue_temp {
    background-image: url(../img/stripe-diagonal.png);
}

.queue_active {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#plmeta {
    border: 1px solid #aaaaaa;
    border-top: 0;
    background-color: #ffffff;
    padding: 3px;
    margin: 0;
    font-size: 12pt;
}

#plcount {
    float: left;
}

#pllength {
    float: right;
}

#userlist {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 347px;
    float: left;
    width: 150px;
    border: 1px solid #aaaaaa; // [](/z13)
    border-left: none;
}

#messagebuffer {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 347px;
    border: 1px solid #aaaaaa; // AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa
    border-left: 0;
}

#channeldata td {
    max-width: 200px;
}

#messagebuffer div, #messagebuffer code, #filteredit code,
#channeldata td, #currenttitle, .profile-box {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#filteredit td {
    max-width: 200px;
}

.userlist_siteadmin {
    color: #cc0000;
    font-weight: bold;
}

.userlist_owner {
    color: #0000cc;
    font-weight: bold;
}

.userlist_op {
    color: #00aa00;
}

.userlist_guest {
    color: #888888;
}

.action {
    font-style: italic;
    color: #888888;
}

.server-whisper {
    font-style: italic;
    color: #888888;
    font-size: 8pt;
}

.spoiler {
    color: #000000;
    background-color: #000000;
}

.spoiler:hover {
    color: #ffffff;
}

.greentext {
    color: #789922; /* Color value directly from 4chan */
}

.shout {
    color: #ff0000;
    font-weight: bold;
    font-size: 18pt;
}

.mono {
    font-family: Monospace;
}

.server-msg-disconnect {
    border: 1px solid #ff0000;
    margin: 5px;
    padding: 5px;
    color: #ff0000;
}

.server-msg-reconnect {
    border: 1px solid #009900;
    margin: 5px;
    padding: 5px;
    color: #009900;
}

.poll-notify {
    color: #0000aa;
    font-weight: bold;
    font-size: 14pt;
}

.option {
    margin-top: 3px;
}

.option button {
    margin-right: 15px;
}

.option-selected {
    font-weight: bold;
}

.option-selected button{
    border-width: 3px!important;
    margin-right: 10px;
}

.nick-highlight {
    background-color: #ddffdd;
}

.nick-hover {
    background-color: #ffff99;
}

.drink {
    margin: 10px 10px;
    padding: 10px 0px;
    border: 2px solid #0000cc;
}

#drinkbar {
    margin-left: 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

#motdtext, #csstext, #jstext {
    width: 100%;
}

#csstext, #jstext {
    font-family: Monospace;
}

#queue_next, #queue_end, #library_search, #youtube_search {
    width: 50%;
}

#footer {
    background-color: #eeeeee;
    height: 30px;
    width: 100%;
    padding: 0;
}

#footer p {
    text-align: center;
    width: 100%;
}

.timestamp {
    font-size: 8pt;
}

.profile-box {
    z-index: 9999;
    position: absolute;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background-color: #ffffff;
    max-width: 200px;
    padding: 5px;
}

.user-dropdown {
    z-index: 9999;
    position: absolute;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    max-width: 200px;
    padding: 5px;
}

.profile-image {
    width: 80px;
    height: 80px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

#channelsettingswrap3 {
    margin-top: 20px;
}

#customembed_code {
    font-family: Monospace;
}

#sc_volume .ui-slider-range {
    background: rgb(255, 195, 0);
}

#sc_volume .ui-slider-handle {
    border-color: rgb(255, 195, 0);
}

#ytapiplayer, #ytapiplayer > iframe {
    border: none;
}

#adminflair {
    margin-left: 3px;
}

#queuefail {
    min-height: 0px;
}

#queuefail .alert {
    margin-top: 5px;
    margin-bottom: 5px;
}
