doctype html
html(lang="en")
  head
    include head
    mixin head()
  body
    #wrap
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        include nav
        mixin navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            mixin navdefaultlinks("/account/passwordreset")
          mixin navloginlogout("/account/passwordreset")
      section#mainpage
        .container
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            h3 Reset Password
            if reset
              .alert.alert-success.center.messagebox
                strong Password reset request sent
                p Please check #{resetEmail} for your recovery link.
            else if resetErr
              .alert.alert-danger.center.messagebox
                strong Error
                p= resetErr
            form(action="/account/passwordreset", method="post", role="form")
              input(type="hidden", name="_csrf", value=csrfToken)
              .form-group
                label.control-label(for="username") Username
                input#username.form-control(type="text", name="name")
              .form-group
                label.control-label(for="email") Email address
                input#email.form-control(type="email", name="email")
              button.btn.btn-primary.btn-block(type="submit") Send reset request

    include footer
    mixin footer()
