extends layout.pug

block content
  .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
    h2 Account Deleted
    p.
      Your account has been flagged for deletion.  After 7 days, your user data
      will be premanently deleted from the database.  During this time, you will
      not be able to log in, but you can ask an administrator for help if your
      deletion request was in error.  After 7 days, your account will no longer
      be recoverable.
