extends layout

block content
  section#mainpage
    .container
      .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
        h3 Recover Password
        if recovered
          .alert.alert-success.center.messagebox
            strong Your password has been changed
            p Your account has been assigned the temporary password <code>#{recoverPw}</code>.  You may now use this password to log in and choose a new password by visiting the <a href="/account/edit">change password/email</a> page.
        else
          .alert.alert-danger.center.messagebox
            strong Password recovery failed
            p= recoverErr