doctype html
html(lang="en")
  head
    include head
    mixin head()
    link(rel="stylesheet", type="text/css", href="/css/acp.css")
  body
    #wrap
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        include nav
        mixin navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            mixin navdefaultlinks("/acp")
          mixin navloginlogout("/acp")
      section#mainpage
        .container
          .row
            #acp-logview.col-md-12(style="display: none")
              h3 Log Viewer
              .input-group
                div.input-group-btn
                  button#acp-syslog-btn.btn.btn-default Syslog
                  button#acp-errlog-btn.btn.btn-default Error log
                input#acp-chanlog-name.form-control(type="text", placeholder="Channel name")
              pre#acp-log
            #acp-announcements.col-md-12(style="display: none")
              h3 Announcements
              h3 New Announcement
              .col-md-6
                form.form-horizontal(action="javascript:void(0)", role="form")
                  .form-group
                    label.control-label.col-sm-2(for="acp-announce-title") Title
                    .col-sm-10
                      input#acp-announce-title.form-control(type="text")
                  .form-group
                    label.control-label.col-sm-2(for="acp-announce-content") Text
                    .col-sm-10
                      textarea#acp-announce-content.form-control(type="text", rows="10")
                  .form-group
                    .col-sm-10.col-sm-offset-2
                      button#acp-announce-submit.btn.btn-primary Announce
            #acp-global-bans.col-md-12
              h3 Global Bans
              table.table.table-striped.table-bordered
                thead
                  tr
                    th
                    th IP Address
                    th Note
              h3 New Global Ban
              .col-md-6
                form.form-horizontal(action="javascript:void(0)", role="form")
                  .form-group
                    label.control-label.col-sm-3(for="acp-gban-ip") IP Address
                    .col-sm-9
                      input#acp-gban-ip.form-control(type="text")
                  .form-group
                    label.control-label.col-sm-3(for="acp-gban-note") Note
                    .col-sm-9
                      input#acp-gban-note.form-control(type="text")
                  .form-group
                    .col-sm-9.col-sm-offset-3
                      button#acp-gban-submit.btn.btn-danger Add ban
    include footer
    mixin footer()
