doctype html
html(lang="en")
  head
    include head
    mixin head()
  body
    #wrap
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        include nav
        mixin navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            mixin navdefaultlinks(path)
          mixin navloginlogout(path)

      section#mainpage.container
        .col-md-12
          .alert.alert-danger
            h1 Invalid Session
            p Your browser attempted to submit form data to <code>#{path}</code> with an invalid authentication token.  This may be because:
              ul
                li Your session has expired
                li Your request was missing the authentication token
                li A malicious user has attempted to tamper with your session
                li Your browser does not support cookies, or they are not enabled
              | If the problem persists, please contact an administrator.
            a(href=path) Return to previous page

    include footer
    mixin footer()
