extends layout.pug

block content
  .col-md-12
    .alert.alert-danger
      h1 Invalid Session
      p Your browser attempted to submit form data to <code>#{path}</code> with an invalid authentication token.  This may be because:
        ul
          li Your session has expired
          li Your request was missing the authentication token
          li A malicious user has attempted to tamper with your session
          li Your browser does not support cookies, or they are not enabled
        | If the problem persists, please contact an administrator.
      if referer
        a(href=referer) Return to previous page
