extends layout.pug

block content
  .col-md-8.col-md-offset-2
    h1 Google Drive Userscript
    h2 Disclaimer
    .alert.alert-danger.messagebox
      strong Unsupported
      p.
        This functionality is provided <strong>as-is</strong> for backwards
        compatibility for existing users for whom it already is known to work.
        There are many reasons, known and unknown, for which it may
        <strong>not</strong> work for you; please note the staff in CyTube
        support channels cannot provide any troubleshooting assistance and you
        will be asked to simply use a different video provider.
      p.
        This functionality was originally added so that users could share their
        own personal videos stored in their Drive.  No support whatsoever will
        be provided to users attempting to use it to circumvent copyright
        restrictions on third-party video hosts.
    h2 How It Works
    p.
      The userscript is a short script that you can install using a browser
      extension such as Greasemonkey or Tampermonkey that runs on the page
      and provides additional functionality needed to play Google Drive
      videos.
    h2 Installation
    ul
      li
        strong Chrome
        | &mdash;Install <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo" target="_blank">Tampermonkey</a>.
      li
        strong Firefox
        | &mdash;Install <a href="https://addons.mozilla.org/en-US/firefox/addon/tampermonkey/" target="_blank">Tampermonkey</a>
        | or <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a>.
      li
        strong Other Browsers
        | &mdash;Install the appropriate userscript plugin for your browser.
        | Tampermonkey supports many browsers besides Chrome.
    p.
      Once you have installed the userscript manager addon for your browser,
      you can <a href="/js/cytube-google-drive.user.js" target="_blank">
      install the userscript</a>.  If this link 404s, it means the administrator
      of this server hasn't generated it yet.
    p.
      You can find a guide with screenshots of the installation process
      <a href="https://github.com/calzoneman/sync/wiki/Google-Drive-Userscript-Installation-Guide" target="_blank">on GitHub</a>.
