extends layout.pug

mixin notfound()
  h1 Not Found
  p The page you were looking for doesn't seem to exist.  Please check that you typed the URL correctly.
  if message
    p Reason: #{message}
mixin forbidden()
  h1 Forbidden
  p You don't have permission to access <code>#{path}</code>
mixin genericerror()
  h1 Oops
  p Your request could not be processed.  Status code: <code>#{status}</code>, message: <code>#{message}</code>

block content
  .col-md-12
    .alert.alert-danger
      if status == 404
        +notfound()
      else if status == 403
        +forbidden()
      else
        +genericerror()
