doctype html
html(lang="en")
  head
    include head
    mixin head()
  body
    #wrap
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        include nav
        mixin navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            mixin navdefaultlinks("/")
          mixin navloginlogout("/")
    include footer
    mixin footer()
