@import "../3.3.1/bootstrap.less";
@import "./variables.less";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Tweaks and Changes go below

// Kamal 07-14-24 

body {
  background-color: #212A2E;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3b4c5450;
}

* {
  scrollbar-color: #3b4c5450 transparent;
}

.table-striped {
  >tr>th {
    border-bottom: none;
  }
  >tbody>tr:nth-child(odd) {
    background-color: #1d2327;
  }
}

td>a {
  color: #DCE1D7;
}

td>a:hover {
  color: #799482;
}

.navbar.navbar-inverse {
  background-color: #12151B;
  border: 0;
  font-size: 16px;

  .nav.navbar-nav.open>a:focus,
  .nav.navbar-nav>.open>a {
    background-color: #1A1F22;
    color: #5B6B73;
  }

  & .nav.navbar-nav {
    li>.dropdown-menu {
      background-color: #212A2E;
      padding: 0;
      border-color: #425259;
      border-width: 2px;
      border-top-width: 0;
      border-style: solid;

      >li>a {
        color: white;
        padding: 10px 10px;
      }

      >li>a:hover {
        color: #212A2E;
      }

      >.divider {
        background-color: #425259;
        height: 2px;
        margin: 0;
      }
    }
  }
}

/* Navbar is transparent by default */
.navbar.navbar-inverse.navbar-transparent {
  transition: background-color 150ms;
  background-color: transparent;
}

/*... but is solid when scrolled */
.navbar.navbar-inverse.navbar-solid {
  transition: background-color 150ms;
  background-color: #070A12;
}

/* Nabbar becomes a dropdown at a specific breakpoint; make it no longer transparent */
#nav-collapsible.collapse.in,
#nav-collapsible.collapsing {
  background-color: #070A12;
  max-height: 100%;
}

/* Overriding bootstrap shitty defaults */
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
  background-color: #f5f5f5;
  color: #212A2E;
}

.nav.nav-tabs {
  >li.active>a {
    color: #FDFDFD;
    background-color: #2F3434;
  }

  >li>a:hover {
    color: #FDFDFD;
    background-color: #2F343F;
  }
}

#rightpane-inner {
  margin-left: 0;
  margin-right: 0;
}

#socialsmenu {
  align-content: center;
}

#goldholelink>span>.ch-nav-text {
  margin-left: 0;
}

#patreonlink:hover {
  color: #FFFEFC;
  background-color: #DE3F00;
}

#twitterlink:hover {
  color: #FCFDFF;
  background-color: #2094FF;
}

#donatelink:hover {
  color: #0A3506;
  background-color: #53E542;
}

#goldholelink:hover {
  color: #0D1628;
  background-color: #f6f2c0;
}

#discordlink:hover {
  color: #0D1628;
  background-color: #9DAADF;
}

.form-control {
  color: #C3CACF;
  background-color: #15181A;
}

.well {
  border: none;
}

.poll-menu {
  background-color: #181E22;
}

.poll-menu-option {
  background-color: #DCE1D7;
}

#modflair {
  align-content: center;
  border-radius: 0;
}

#modflair.label-default {
  align-content: center;
  background-color: #425259;
}

#motdwrap {
  background-color: #212A2E;
}

#pollwrap .well .wrapInner {
  background: #12151B;
  
  .options .option button.active {
    border: 1px solid #3E97A2;
  }

  .options .option button:not(.btn-danger) {
    background: #212A2E;
  }
}

#pollwrap>.well.active {
  background-color: #181E22;
  
  .btn-default {
    background-color: #475151;
  }

  .options .option button:hover {
    background-color: #f5f5f5;
    color: #212a2e;
  }
}

#pollwrap>.well.muted {
  background-color: #212527;

  .btn-default {
    background-color: #0F1213;
  }
}

#chatwrap {
  padding-right: 10px;
}

#queuefail {
  padding: 0;
}

#queueinfo {
  padding-left: 0;
  padding-right: 0;
}

#queue_next,
#queue_end {
  padding: 4px 9px;
}

#logoutbtn:hover {
  color: #FFFEFC;
  background-color: #D22F29;
}

#acp-log {
  color: #DCE1D7;
  background-color: #212A2E;
}

div[class^="chat-msg-"] {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Cyzone Defaults */

.userlist_siteadmin {
  color: #ff2f28 !important;
}

.userlist_owner {
  color: #ff9900 !important;
}

.userlist_item {
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid;
  border-color: #181E22;
  text-wrap: nowrap;

  >span {
    font-size: 12px;

    >.glyphicon {
      margin-right: 2px;
    }
  }
}

.userlist_item:hover {
  background-color: #29333a;
}

.nick-highlight {
  background-color: #555555;
}

.nick-hover {
  background-color: #29333a;
}

footer {
  background-color: transparent !important;

}

input.form-control[type="text"],
input.form-control[type="password"],
input.form-control[type="email"],
textarea.form-control {
  background-color: #161a20;
  color: #c8c8c8;
}

input[type="checkbox"] {
  accent-color: #59FFFF;
}

.profile-box,
.user-dropdown,
.emotelist-table td {
  color: #c8c8c8;
  background-color: #161a20;
}

.poll-notify {
  color: #ff9900;
}

.chat-shadow {
  color: #777777;
}

.drink {
  border-color: #ff9900;
}

.credit {
  color: #DEE5DD;
}

.server-msg-reconnect {
  height: 45px;
  align-content: center;
  border: none;
  background-color: #2B684425;
  border: 1px solid;
  border-color: #6FCD67;
  color: #6FCD67;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.server-msg-disconnect {
  height: 45px;
  align-content: center;
  border: 1px solid;
  border-color: #FA0000;
  background-color: #35001B25;
  color: #FA0000;
  font-size: 24px;
  font-weight: bold;
}

.btn-default {
  background-color: #161a20;
}

.btn-default:hover {
  background-color: rgb(70, 125, 152);
}

.embed-responsive-item {
  background-color: #181E22;
}


#drinkcount {
  background-color: #000000;
  color: #ffffff;
}

#plmeta {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #12151B;
  background-color: #12151B;
}

#userlist,
#messagebuffer {
  border: 1px #12151B solid;
}

#userlisttoggle {
  padding-left: 4px;
  padding-right: 4px;
  top: 0;
}

#userlist {
  padding-right: 0;
  background-color: #181E22;
}

#messagebuffer {
  padding-left: 1px;
  padding-right: 1px;
  background-color: #181E22;
}

#chatline {
  transition: box-shadow;
  transition-duration: 150ms;
  border: 0;
  color: #FDFDFD;
  background-color: #12151B;
  font-size: 16px;
  height: 50px;
}

#guestlogin {
  transition: box-shadow;
  transition-duration: 150ms;
  border: none;
  color: #FDFDFD;
  background-color: #12151B;
  font-size: 16px;
  height: 50px;

  >.form-control {
    border: none;
    height: 50px;
  }
}

#chatline:focus {
  box-shadow: inset 0 0 5px #5dceff;
}

#guestlogin>.form-control:focus {
  box-shadow: inset 0 0 5px #5dceff;
}

#guestlogin>span {
  border: none;
  color: #D6DBD6;
  background-color: #0d1015;
}

#chatheader,
#videowrap-header {
  background-color: #12151B;
  height: 30px;

  #userlisttoggle {
    align-content: center;
    height: 100%;
    padding-bottom: 0;
  }

  #userlisttoggle:hover {
    background-color: rgb(70, 125, 152);
  }
}

#videowrap-header {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 10px;
  align-items: center;

  >#currenttitle {
    margin-left: auto;
    margin-right: auto;
  }

  >.glyphicon {
    padding-left: 3px;
    padding-right: 3px;
  }
}

#videowrap>.embed-responsive-item {
  background-color: #1A2226;
}

#usercount {
  width: 1px;
  flex-grow: 0;
  margin-left: auto;
  margin-right: auto;
}

#leftcontrols {
  >.btn.btn-sm {
    margin: 0;
    margin-right: 1px;
  }
}

.queue_entry {
  padding: 0;
  padding-top: 10px;
  border-color: #12151B;
  background-color: #272b30;

  >.btn-group {
    display: flex;
    height: 30px;
    margin-top: 10px;

    >* {
      transition: all;
      transition-duration: 100ms;
      width: 100%;
    }

    >*:hover {
      background-color: rgb(70, 125, 152);
    }

    >.qbtn-delete:hover {
      background-color: #A6272D;
    }
  }
}

.queue_active:not(.queue_temp) {
  background-color: #26272D;
  box-shadow: inset 0 0 30px #08080A;

  & .qbtn-tmp {
    background-image: linear-gradient(45deg, #26272D, #4D505E, #737A90, #E8E5EF, #4D505E, #0F0F13);
    background-blend-mode: normal;
  }
}

.queue_active.queue_temp {
  background-color: #292F35;
  background-image: url(/img/stripe-diagonal-black.png);
  background-repeat: repeat;
  background-blend-mode: color-burn;

}

.navbar-inverse .navbar-text-nofloat {
  color: #ccc;
}

#newmessages-indicator-bghack {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.9);
}

.qe_title {
  padding: 10px 0;
  margin-left: 10px;
  font-size: 16px;
  color: #f3f3f3;
}

.qe_title:hover {
  color: #e9edee;
}

.qe_title:focus {
  color: #8be2ff;
  text-shadow: #0081ab50 0 0 5px;
  outline: none;
}

.qe_time {
  padding: 10px 0;
  margin-right: 10px;
}

#plonotification>div>.btn {
  border: none;
  background-color: #742c00;
}

#motdrow #motdwrap {
    background-color: #181e21;
    padding: 24px;
}

#mediaurl.form-control:focus {
    background-image: linear-gradient(0deg, #0f2036, #1a1a1a);
}

/* Poll UI Themeing */
.poll-menu > .btn:not(.btn-danger) {
    background-color: #121312;
}

.poll-menu > .btn:not(.btn-danger):hover {
    background-color: #3b5660;
}
